<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkzeOIqLp8uOXvCT3O7lqqdG97riZnacg</string>
	<key>GCM_SENDER_ID</key>
	<string>1078049742963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideshare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ridersharefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>ridersharefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078049742963:ios:b31e8531f6ca3ff4fa4a06</string>
</dict>
</plist>